:root {
  --blue: #3b5491;
  --lightblue: #5f7ecb;
  --green: #009bb0;
  --lightgreen: #aedde3;
  --orange: #ff7c35;
  --lightorange: #ff9a63;
  --black: #444444;
  --gray: #999999;
}
/* TODO: fix fonts */
body {
  margin: 0;
}

/* #region HEADER */
#header {
  position: relative; /* This makes child absolute positioning relative to the header */
  width: 100%;
}

#headerImg {
  display: block; /* Removes any default spacing below the image */
  width: 100%;
}

#headerLogo {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
}

#headerNav {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
}

#headerNav ul {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 3rem;
}

#headerNav a {
  color: var(--lightgreen);
  text-decoration: none;
  font-weight: bold;
}

/* #endregion */
#subheaderOne {
  margin-left: 1rem;
  font-size: 2.5rem;
}
#subheaderOne h2 {
  color: var(--lightgreen);
}
#images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
#images img {
  width: 100%;
}
h1,
h2 {
  font-family: 'Oswald', sans-serif;
  color: var(--green);
}
