:root {
  --blue: #3b5491;
  --lightblue: #5f7ecb;
  --green: #009bb0;
  --lightgreen: #aedde3;
  --orange: #ff7c35;
  --lightorange: #ff9a63;
  --black: #444444;
  --gray: #999999;
}
/* #region GLOBAL */
body {
  margin: 0;
}

h1,
h2 {
  font-family: 'Oswald', sans-serif;
  color: var(--green);
  margin-left: 1rem;
}
h1,
h2,
p {
  margin-left: 1rem;
}
p {
  font-size: 2.5rem;
  font-family: 'Roboto', sans-serif;
}
h2 {
  color: var(--lightgreen);
}
section header h2 {
  font-size: 4rem;
}
span {
  color: var(--lightgreen);
}
/* #endregion */

/* #region HEADER */
#header {
  position: relative; /* This makes child absolute positioning relative to the header */
  width: 100%;
  box-shadow: 0 0 10px 0 #444444;
}

#headerImg {
  display: block; /* Removes any default spacing below the image */
  width: 100%;
}

#headerLogo {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
}

#headerNav {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
}

#headerNav ul {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 2rem;
  list-style: none;
  padding: 0;
  margin: 0.5rem 2rem;
  display: flex;
  gap: 9rem;
}

#headerNav a {
  color: var(--lightgreen);
  text-decoration: none;
  font-weight: bold;
}

/* #endregion */

/* #region subheaderone */
#subheaderOne {
  margin-left: 1rem;
  font-size: 2.5rem;
}
#subheaderOne h1 {
  margin-bottom: 0;
}
#subheaderOne h2 {
  margin-top: 0;
  color: var(--lightgreen);
}
.images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.images img {
  width: 100%;
}
/* #endregion */

/* #region grid */
.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#devDesk h2 {
  font-size: 4rem;
}

.grid-section {
  display: grid;
  grid-template-columns: repeat(2, auto); /* Two columns for alignment */
  gap: 0.5rem; /* Adjust the gap between rows and columns */
  justify-content: start; /* Align content to the start horizontally */
}

.grid-item {
  display: contents; /* Allow the child elements to participate in the grid */
}

.grid-item p:nth-child(1) {
  grid-column: 1; /* Place the first <p> in the first column */
}

.grid-item p:nth-child(2) {
  grid-column: 2; /* Place the second <p> in the second column */
}
/* #endregion */

.secImage {
  width: 100%;
}
.sectionHeader h1 {
  font-size: 2.5rem;
  margin-bottom: 0;
}
.sectionHeader h2 {
  font-size: 2rem;
  margin-top: 0;
}
